.title {
    text-align: center;
    margin-bottom: 1em;
}

.footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    p:last-child {
        margin-bottom: 0;
    }
}

.slider-container {
    width: 300px;
}

input[type=range].slider {
  -webkit-appearance: none;
  width: 100%;
  margin: 9.8px 0;
}
input[type=range].slider:focus {
  outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].slider::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 28px;
  width: 21px;
  border-radius: 6px;
  background: #ffbc4b;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -10px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range].slider::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range].slider::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 28px;
  width: 21px;
  border-radius: 6px;
  background: #ffbc4b;
  cursor: pointer;
}
input[type=range].slider::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].slider::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].slider::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 28px;
  width: 21px;
  border-radius: 6px;
  background: #ffbc4b;
  cursor: pointer;
  height: 8.4px;
}
input[type=range].slider:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range].slider:focus::-ms-fill-upper {
  background: #367ebd;
}
button {
    background-color: #3071a9;
    border: 4px solid #ffbc4b;
    padding: 10px 40px;
    color: #FFFFFF;
    font-family: Verdana, sans-serif;
    font-weight: 700;
    font-size: 1.5em;
    border-radius: 5px;
    box-shadow: #aaa 2px 2px 6px 2px;
}

td {
    padding-right: 30px;
}

.svgTable {
    display: block;
    width: 1000px;
    margin: 0 auto 20em;
    padding: 10px;
    border: 3px solid #000;
}

#svgroot path {
    stroke: blue;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 5px;
}

.hidden {
    display: none;
}

table td:first-child,
table th:first-child {
    width: 250px;
}

label {
    margin-left: 2em;
    margin-bottom: 1em;
    position: relative;
    top: -30px;
}

input[type="checkbox"] {
    position: relative;
    top: -30px;
}

p {
    margin-bottom: 3em;
}

table {
    margin: 3em auto;
}

button {
    margin-bottom: 5em;
}
